#!/bin/bash


export HOPSWORKS_PROJECT=pydata
export HOPSWORKS_HOST=35.240.110.235
export HOPSWORKS_API_KEY= "nozl6HojVaJGXShL.Sp51d2sDhBFUgYAI2Qi8YUvR3ts7XQpafdZ791jMrZi32LNg30uysNzL9tuOgbj8"

export MODAL_API_KEY= "9408da9e0783f826492db7044542ca6d"

